<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://carstoreapp00.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>carstoreapp00.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CarStoreApp00</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CarStoreApp00</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CarsStore.Data.CarsStoreContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:carstoreappdb.database.windows.net,1433;Initial Catalog=CarStoreApp00Db;User ID=admin123@carstoreappdb.database.windows.net;Password=Fishbone`12" Name="Data Source=tcp:carstoreappdb.database.windows.net,1433;Initial Catalog=CarStoreApp00Db;User Id=admin123@carstoreappdb.database.windows.net;Password=Fishbone`12" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CarsStore.Data.CarsStoreContext, CarsStore.Data" MigrationConfiguration="CarsStore.Data.Migrations.Configuration, CarsStore.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:carstoreappdb.database.windows.net,1433;Initial Catalog=CarStoreApp00Db;User ID=admin123@carstoreappdb.database.windows.net;Password=Fishbone`12" Name="Data Source=tcp:carstoreappdb.database.windows.net,1433;Initial Catalog=CarStoreApp00Db;User Id=admin123@carstoreappdb.database.windows.net;Password=Fishbone`12" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-CarsStore.Web-20170427125911.mdf;Initial Catalog=aspnet-CarsStore.Web-20170427125911;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-CarsStore.Web-20170427125911.mdf;Initial Catalog=aspnet-CarsStore.Web-20170427125911;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CarsStore.Data.CarsStoreContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:carstoreappdb.database.windows.net,1433;Initial Catalog=CarStoreApp00Db;User Id=admin123@carstoreappdb.database.windows.net;Password=Fishbone`12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:carstoreappdb.database.windows.net,1433;Initial Catalog=CarStoreApp00Db;User Id=admin123@carstoreappdb.database.windows.net;Password=Fishbone`12</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CarsStore.Data.CarsStoreContext" />
  </ItemGroup>
</Project>