@{
    ViewBag.Title = "Cars Store Home";
}

<h2>You are looking for a car? This is the right place!</h2>
<div id="cont"></div>



@section scripts{
    <script>
        $(document)
            .ready(
                function() {
                    $("#cont").load("/home/getall");
                });
    </script>
}