
@{
    ViewBag.Title = "Add an Offer";
}

@using (Html.BeginForm("AddOffer", "Offers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="text" name="brand" />
    <input type="text" name="model" />
    <input type="number" name="price" />
    <input type="datetime" name="originDate" />
    <textarea row="10" col="15" name="description"></textarea>
    <div class="form-group">
        <div class="col-md-10">
            <input type="file" name="file" value="" />
        </div>
    </div>
    <input type="Submit" value="Add" />
}

